* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section */
.header {
  /* background: url("../images/banner/banner3.png");
  background-size: 80%;
  position: ;
  background-repeat: no-repeat;

  width: 100%;
  height: 80vh; */

  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.banner {
  color: white;
  margin-left: 845px;
  margin-right: 230px;
  text-align: end;
  padding-top: 300px;
  /* display: flex;
  flex-direction: column;
  float: right;
  color: white;
  align-items: center; 
  width: 45%;
  height: 800px;
  justify-content: center; */
}
.banner h1 {
  font-weight: 700;
  font-size: 65px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 24px;
}
.banner p {
  margin-bottom: 32px;
  padding-left: 250px;
}
button {
  cursor: pointer;
}
.btn-primary {
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 20px 25px;
  height: 64px;
  border-radius: 5px;
  background: white;
}

/* my failure sectin */
.failure-container {
  display: flex;
  gap: 87px;
  width: 80%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
}
.failure-info {
  padding-top: 370px;
  margin-right: 320px;
}
.failure-info h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}
.failure-info p {
  margin-bottom: 16px;
}
li {
  list-style: none;
  margin-bottom: 8px;
}
i {
  color: #16d887;
}
.my-plan h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 90px;
}
.plan h4 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.plan h5 {
  margin-top: 16px;
  color: #737272;
  font-weight: 500;
  font-size: 25px;
}
.plan-container {
  display: flex;
  gap: 85px;
  justify-content: center;
}
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan img {
  height: 95px;
  width: 95px;
  margin-bottom: 30px;
}

/* positive mindset section */
.positive {
  margin-top: 130px;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/watch.png");

  /* background-size: cover; */
  background-repeat: no-repeat;
  height: 300px;
  width: max-content;
  /* margin: 0 auto; */
  position: relative;
}
.positive div {
  padding: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
.positive div h1 {
  font-weight: 700;
  font-size: 40px;
  color: white;
}
.positive div button {
  margin-top: 25px;
}

/* future section */
.future {
  background: black;
  color: white;
  display: flex;
  gap: 330px;
  padding: 130px 230px;
}

.future h3 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
}
.future p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}
.future div img {
  margin-right: 17px;
}

.future h4 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 31px;
}
.future input {
  background: black;
  border-color: white;
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.future ::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.future button {
  background: #005fac;
  color: white;
}
.future-div2 {
  margin-right: 230px;
}
